.outer-container {
    margin: 2em;
}

.pokemon-container {
    display: flex;
    flex-flow: row wrap;
}

.pokemon-cards {
    margin: 1em;
    flex: 1 1 300px ;
    max-width: 400px;
}

input {
    margin: 1em;
}